<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to My WebApplication</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
    </head>
    <body>
        <div class="container-fluid">
            <h1>Welcome to my Web App Spring boot thymeleaf</h1>
            <button id="myButton" class="btn btn-primary">clickMe</button> 
        </div>
        <script>
            $(document).ready(function() {
                $("#myButton").on("click", function(e){
                    alert("you have clicked me")
                });
            });
        </script>
    </body>
</html>